
<!-- ECI:START SCHEMA, Friday, Octuber 26, 2018 -->
<!-- ECI:Script tags Start -->
<script type="application/ld+json" id="eci-organization"></script>
<script type="application/ld+json" id="eci-breadcrumb"></script>
<script type="application/ld+json" id="eci-product"></script>
<!-- ECI:Script tags End -->

<!-- ECI:JSONLD implementation Start -->
<script type="text/javascript">
    $(document).ready(function () {
        var eci_organization = {
            data: {},
            prepare: function () {
                this.data = {
                    "@context": "https://schema.org",
                    "@type": "Organization",
                    "url": "https://www.overstockart.com/",
                    "name": "Reproduction Oil Paintings - Affordable Canvas Wall Art",
                };

                // logo
                var logo_sel = $("#logo").find("img");
                if (logo_sel.length) {
                    this.data['logo'] = logo_sel.attr('src');
                } else {
                    console.log("no logo_sel");
                }

                // contactPoint
                var contact_sel = $("#toll span").text();
                if (contact_sel) {
                    this.data['contactPoint'] = [{
                            "@type": "ContactPoint",
                            "telephone": "+" + contact_sel,
                            "contactType": "customer service"
                        }];
                } else {
                    console.log("no contact_sel");
                }


                // Social profile
                var social_sel = $("#footer-social a");
                if (social_sel.length) {
                    this.data['sameAs'] = [];
                    var sameasdata = this.data.sameAs;
                    social_sel.each(function (index) {
                        sameasdata.push($(this).attr('href'));
                    });
                } else {
                    console.log("no social_sel");
                }

            },
            render: function () {
                var obj = this;
                jQuery("#eci-organization").text(JSON.stringify(obj.data));
                console.log(JSON.stringify(obj.data));
            },
            init: function () {
                this.prepare();
                this.render();
            }
        };

        eci_organization.init();

        // product
        var eci_product = {
            data: {},
            prepare: function () {
                //product name
                var p_name = $("#breadcrumbsContainer span:last-child a");
                if (p_name.length == 0)
                    throw "no product_name";

                //product image




                var p_images = []
                $("ul#product_thumb_slider li").each(function () {
                    if (typeof $(this).data("href") != "undefined") {
                        p_images.push($("li").find('img').attr('src'));
                    }
                });

                this.data = {
                    "@context": "https://schema.org/",
                    "@type": "Product",
                    "name": eci_product_schema.product_name,
                    "image": p_images,
                    "description": eci_product_schema.product_description,
                    "offers": {
                        "@type": "Offer",
                        "availability": "http://schema.org/InStock",
                        "priceCurrency": "USD",
                        "price": eci_product_schema.product_price
                    }
                };

                //aggregateRating
                if ($("#average_reviews1 .average_stars").length) {
                    var ratingValue = $("#average_reviews1 .average_stars").attr("class").split(" ")[1];
                    var reviewCount = $("#reviewCounter").text();

                    this.data['aggregateRating'] = {
                        "@type": "AggregateRating",
                        "ratingValue": ratingValue.replace(/\D/g, ""),
                        "reviewCount": reviewCount.replace(/\D/g, "")
                    };
                }

                //Review
                if ($("#review .review-list").length) {
                    var product_review = this.data.review = [];
                    $("#review .review-list").each(function () {
                        var author = $(this).children(".author").text();
                        var review_name = $(this).children(".text").children(".author").text().trim();
                        var review = $(this).children(".text").text().split("\n")[3].trim();
                        var ratingValue = $(this).children(".rating").attr("class").split(" ")[1].split("-")[1];

                        product_review.push({
                            "@type": "Review",
                            "author": author,
                            "description": review,
                            "name": review_name,
                            "reviewRating": {
                                "@type": "Rating",
                                "bestRating": "5",
                                "ratingValue": ratingValue,
                                "worstRating": "1"
                            }
                        });

                    });
                }
                // url
                this.data['url'] = window.location.href;

            },
            render: function () {
                var obj = this;
                jQuery("#eci-product").text(JSON.stringify(obj.data));
                console.log(JSON.stringify(obj.data));
            },
            init: function () {
                if ($("#product_thumb_slider li").length) {
                    this.prepare();
                    this.render();
                } else {
                    console.log('no product');
                }
            }
        };

        eci_product.init();

        //breadcrumb
        var eci_breadcrumb = {
            data: {},
            prepare: function (breadcrumb) {

                this.data = {
                    "@context": "https://schema.org",
                    "@type": "BreadcrumbList",
                    "itemListElement": []
                }

                var obj = this;

                jQuery(breadcrumb).each(function (i, s) {
                    var item = {
                        "@type": "ListItem",
                        "position": i + 1,
                        "item": {
                            "@id": $(s).children("a").attr('href') || $(s).attr('href'),
                            "name": $(s).children().children().text().trim() || $(s).text().trim()
                        }

                    };
                    obj.data.itemListElement.push(item);
                });


            },
            render: function () {
                var obj = this;
                jQuery("#eci-breadcrumb").text(JSON.stringify(obj.data));
                console.log(JSON.stringify(obj.data));
            },
            init: function () {
                var breadcrumb = ($('div#breadcrumbsContainer nav').children("span").length) ? $('div#breadcrumbsContainer nav').children("span") : $('div#breadcrumbsContainer a');
                if (breadcrumb.length) {
                    this.prepare(breadcrumb);
                    this.render();
                } else {
                    console.log("no breadcrumb");
                }
            }
        };

        eci_breadcrumb.init();
    });
</script>
<!-- ECI:JSONLD implementation End -->
<!-- ECI:End SCHEMA, Friday, Octuber 26, 2018 -->